.navigation {
    background: rgba(300,300,300,0.6);
}
.navigation ul {
    padding: 0;
    margin-top: 40%;
    text-align: center;
}

.navigation li {
    list-style-type: none;
    margin-top: 20px;
}

.navigation li a {
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.navigation li a:hover {
    color: green!important;
    font-size: 25px;
}